# Dependencies
node_modules/

# Next.js build output
.next/
out/
build/
dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# System
.DS_Store
*.log
coverage/

# Editor
.vscode/
.idea/
